body{

    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.col-md-6 {
    background-image: linear-gradient(-20deg, #c4a7ef 0%, #fbfcdb 100%);
    margin-top: 200px;
   
}
input[type =Button]
{
    width: 100%;
    background-color: #e9defa;
    color: gray;
    font-weight: bolder;
}

input[type =text]
{
    width: 100%;
}


td{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

h1{
    text-align: center;
}